<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{title}}</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Py3Bruteforce</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Dashboard</a></li>
              <li><a href="/wiki">Wiki</a></li>
              <li><a href="/sysinfo">System info</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Available modules <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for module in modules %}
                    <li><a href="/module/{{module}}">{{module}}</a></li>

                    {% endfor %}
                  <li role="separator" class="divider"></li>
                  <li><a href="https://t.me/Pirate2110">Send request for new module</a></li>
                </ul>
              </li>
            </ul> 
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://github.com/fukttt/py3bruteforce">Ver. 1.4</a></li>
              
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    <div class="container">

       

        <!-- Jumbotron -->
        <h1>Hello!</h1>
        <p class="lead">This is a web-bruteforce app. This was made only for educational purposes! Be sure that you are running this stuff at your own risk!</p>
        
        <table id="table_id" class="display">
          <thead>
              <tr>
                  <th>Module</th>
                  <th>Good</th>
                  <th>Bad</th>
                  <th>Error</th>
                  <th>ProjError</th>
                  <th>Captcha</th>
                  <th>Source</th>
                  <th>PrT</th>
                  <th>Threads</th>
                  <th>PrC</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              
          </tbody>
      </table>
        <!-- Example row of columns -->


        <!-- Site footer -->
        <footer class="footer">
            <p>&copy; 2021 Py3Bruteforce, Inc.</p>
        </footer>

    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <script>
      //infoBTN
     
      function updateTable(b){
        let json = JSON.stringify({
          method: "get"
        });

        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/api');
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(json);
        xhr.onload = function () {
          if (xhr.status != 200) {
            alert(`Error ${xhr.status}: ${xhr.statusText}`);
          } else {
            if (xhr.response != "No projs"){

            
            //var jser = JSON.parse(xhr.response);
            if (xhr.response.includes("||")){
              b.clear().draw();
              ab = xhr.response.split('||');
              ab.forEach((item) => {
                console.log(item);
                if (item != ""){
                  b.row.add( [
                    item.split(' | ')[0],
                    '<p class="text-success">' + item.split(' | ')[1] + '</p>',
                    item.split(' | ')[2],
                    item.split(' | ')[3],
                    item.split(' | ')[4],
                    item.split(' | ')[5],
                    item.split(' | ')[6],
                    item.split(' | ')[9],
                    item.split(' | ')[8],
                    item.split(' | ')[7],
                    '<button class="btn btn-danger stopBtn" data-proc="'+item.split(' | ')[10]+'">STOP</button>'
                  ] ).draw( false );
                }
               
              });
            }else {
              b.clear().draw();
              b.row.add( [
                  xhr.response.split(' | ')[0],
                  xhr.response.split(' | ')[1],
                  xhr.response.split(' | ')[2],
                  xhr.response.split(' | ')[3],
                  xhr.response.split(' | ')[4],
                  xhr.response.split(' | ')[5],
                  xhr.response.split(' | ')[6],
                  xhr.response.split(' | ')[9],
                  xhr.response.split(' | ')[8],
                  xhr.response.split(' | ')[7],
                  '<button class="btn btn-danger stopBtn" data-proc="'+xhr.response.split(' | ')[10]+'">STOP</button>'
              ] ).draw( false );
            }
          }
          }
        };
      }
      
      
      //STOPBTN
      document.querySelectorAll('.stopBtn').forEach(element => {
        console.log(element);
        element.addEventListener("click", (event) => {
            let json = JSON.stringify({
              method: "stop",
              id: event.target.dataset.proc
            });

            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/api');
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhr.send(json);
            xhr.onload = function () {
              if (xhr.status != 200) {
                alert(`Error ${xhr.status}: ${xhr.statusText}`);
              } else {
                document.location.reload();
              }
            };
        });
      });
      $(document).ready( function () {
        var t = $('#table_id').DataTable();
        let timerId = setInterval(() => {
          updateTable(t);
        }, 500);
        
    } );
    </script>
</body>

</html>