{% extends "main.html" %}
{% block content %}

<style>
  .load {
    border: 1px solid #ECF0F1;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%) rotate(135deg);
    /*change these sizes to fit into your project*/
    width: 50px;
    height: 50px;

  }

  .load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
  }

  .load :first-child {
    background: #19A68C;
    animation-delay: -1.5s
  }

  .load :nth-child(2) {
    background: #F63D3A;
    animation-delay: -1s
  }

  .load :nth-child(3) {
    background: #FDA543;
    animation-delay: -0.5s
  }

  .load :last-child {
    background: #193B48
  }

  @keyframes spin {

    0%,
    100% {
      transform: translateX(200%)
    }

    25% {
      transform: translateY(200%)
    }

    50% {
      transform: translateX(0)
    }

    75% {
      transform: translateY(0)
    }
  }
</style>


<div class="row">
  <div class="col-md-6">
    <p class="lead">{{mod.description}}</p>
    <label for="baseName">Base</label>
    <select class="form-control" id="baseName">
      {% for file in files %}
      <option>{{file}}</option>
      {% endfor %}
    </select>
    <label for="proxyName">Proxy</label>
    <select class="form-control" id="proxyName">
      {% for file in files %}
      <option>{{file}}</option>
      {% endfor %}
    </select>
    <label for="threadsCount">Threads</label>
    <input type="text" class="form-control" value="150" id="threadsCount">
    <label for="tprl">Proxy Link</label>
    <input type="text" class="form-control" placeholder="https://api.proxy/get" id="prl">
    <label for="proxyType">ProxyType</label>
    <select class="form-control" id="proxyType">
      <option>https</option>
      <option>socks4</option>
      <option>socks5</option>
      <option>burp</option>
      <option>no</option>
    </select>
    <label for="timeOut">Timeout</label>
    <input type="text" class="form-control" value=15 id="timeOut">
  </div>


  <div class="col-md-6">
    <h1>Methods:</h1>
    <button class="btn btn-success" id="startBtn">Start</button>
    <button class="btn btn-primary" id="debugBtn">Debug</button>
  </div>
</div>


<div class="load" style="display: none;">
  <hr />
  <hr />
  <hr />
  <hr />
</div>

<script>
  var modul = "{{module}}";
</script>
{% endblock %}