<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{title}}</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <style>
      #myChart{
        height: 300px;
      }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Py3Bruteforce</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a href="/">Dashboard</a></li>
              <li><a href="/wiki">Wiki</a></li>
              <li class="active"><a href="/sysinfo">System info</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Available modules <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for module in modules %}
                    <li><a href="/module/{{module}}">{{module}}</a></li>

                    {% endfor %}
                  <li role="separator" class="divider"></li>
                  <li><a href="https://t.me/Pirate2110">Send request for new module</a></li>
                </ul>
              </li>
            </ul> 
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://github.com/fukttt/py3bruteforce">Ver. 1.4</a></li>
              
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    <div class="container">

       

      <div>
        <canvas id="myChart"></canvas>
      </div>

        <!-- Site footer -->
        <footer class="footer">
            <p>&copy; 2021 Py3Bruteforce, Inc.</p>
        </footer>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      var data = {
        labels: [],
        datasets: [{
          label: "CPU usage %",
          fill: true,
          lineTension: 0.1,
          backgroundColor: "rgba(0,255,0,0.4)",
          borderColor: "green", // The main line color
          borderCapStyle: 'square',
          pointBorderColor: "white",
          pointBackgroundColor: "green",
          pointBorderWidth: 1,
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "yellow",
          pointHoverBorderColor: "green",
          pointHoverBorderWidth: 2,
          pointRadius: 4,
          pointHitRadius: 10,
          data: [],
          spanGaps: true,
        }]
      };
      const config = {
        type: 'line',
        data: data,
        options: {}
      };
      var chart = new Chart(
        document.getElementById('myChart'),
        config
      );
      
      function addData(chart, label, data) {
          chart.data.labels.push(label);
          chart.data.datasets.forEach((dataset) => {
              dataset.data.push(data);
          });
          chart.update();
      }

      let timerId = setInterval(() => {
        updateCPU();
      }, 2000);

      function updateCPU(){
        let json = JSON.stringify({
          method: "getcpu"
        });

        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/api');
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        xhr.send(json);
        xhr.onload = function () {
            addData(chart, xhr.response.split('|')[1], xhr.response.split('|')[0])
          
        }
      }
    </script>
</body>

</html>